<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  
  <%= render 'flights/header' %>
  
  
  <main class="mdl-layout__content">
    <div class="page-content"><!-- Your content goes here -->

        <div class="container">
        <section class="search-form">
          <h3>Find flights</h3>
          <div class="form">
            <%= render 'flights/search_form' %>
          </div>
          
          </section>

          <section class="search-results">
          <h3>Available Flights</h3>

            <%= render 'flights/results_form' %>            
        </section>
      </div> 



    </div>

    
  </main>

  <footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">Odin Flight booker</div>
    <ul class="mdl-mini-footer__link-list">
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
    </ul>
  </div>
</footer>

</div>

